html {
    scroll-behavior: auto !important;
}
* {
    max-width: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    max-width: auto;
    padding: 0;
    margin: 0;
}
.fondo {
    height: 30px;
    background-color: #07caf0;
}
.fa-lg {
    color: white;
}
.tarjeta {
    width: 254px;
    height: 169.35px;
}
.fondo1 {
    background-color: #07caf0;
}
.color {
    color: #07caf0;
}
.fa-2xl {
    color: white;
}
