body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.fondo {
    height: 30px;
    background-color: #07caf0;
}
.fa-lg {
    color: white;
}